---
---

@import "{{ site.theme }}";

img[src="/ginga-moriki/assets/img/logo.png"] {
  // width: auto;
  // height: auto;
  max-width: 50%; /* 親要素の幅に合わせる */
  height: auto;    /* アスペクト比を保持する */
}

img[src="/ginga-moriki/assets/img/moderation-ai.png"],
img[src="/ginga-moriki/assets/img/desktop-analyst.png"],
img[src="/ginga-moriki/assets/img/bussiness-sequence.png"],
img[src="/ginga-moriki/assets/img/precision-prose-polisher.png"] {
  width: 80%;
  height: auto;
  border: 1px solid #e5e5e5;
  display: block;
  margin: 0 auto; /* 上下のマージンは0、左右のマージンはauto */
}

section {
  width: 580px;
}

/* タブレットサイズ */
@media (max-width: 768px) {
  section {
    width: 90%; /* 画面幅の90%に設定 */
  }
}

/* スマートフォンサイズ */
@media (max-width: 480px) {
  section {
    width: 100%; /* 画面幅の100%に設定 */
  }
}

table {
  width: 100%;
  table-layout: auto;
}

// table td:nth-child(2) {
//   // width: 30%;
//   white-space: nowrap;
// }

h2 {
  margin-top: 30px;
}

h3 {
  margin-top: 15px;
}

li {
  line-height: 170% !important; /* フォントサイズのn%の行間 */
  color: #222222;
}

section p {
  color: #222222;
  font-size: 16px;
}

code{
  font-size: 12px;
  color: #727272;;
}