---
---

@import "{{ site.theme }}";

img[src="/ginga-moriki/assets/img/logo.png"] {
  width: 50%;
  height: auto;
}

img[src="/ginga-moriki/assets/img/moderation-ai.png"],
img[src="/ginga-moriki/assets/img/desktop-analyst.png"],
img[src="/ginga-moriki/assets/img/bussiness-sequence.png"],
img[src="/ginga-moriki/assets/img/precision-prose-polisher.png"] {
  width: 80%;
  height: auto;
  border: 1px solid #e5e5e5;
  text-align: center;
}

section {
  width: 580px;
}

table {
  width: 100%;
  table-layout: auto;
}

table td:nth-child(2) {
  width: 30%;
  white-space: nowrap;
}

h2 {
  margin-top: 30px;
}

li {
  line-height: 170% !important; /* フォントサイズのn%の行間 */
  color: #222222;
}

/* 初期状態ではサブメニューを非表示 */
ul ul {
  display: none;
}

/* チェックボックスがチェックされたらサブメニューを表示 */
input[type="checkbox"]:checked + label + ul {
  display: block;
}

p{
  color: #222222;

}